body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('/public/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 18px;
    width: 300px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s, border-bottom 0.3s;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.85);
    opacity: 1;
}

input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid #ff0000;
    outline: none;
}

select {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 18px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s, border-bottom 0.3s;
    outline: none;
}

select:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid #ff0000;
}

/* Estilo para as opções dentro do select */
select option {
    background-color: rgba(0, 0, 0, 0.8);
    /* Cor de fundo das opções */
    color: white;
    /* Cor do texto das opções */
}

/* Estilo para as opções quando selecionadas */
select option:checked {
    background-color: #ff0000;
    /* Cor de fundo das opções selecionadas */
}

button[type="submit"] {
    background-color: #ff0000;
    color: white;
    padding: 12px;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[type="submit"]:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}

button[type="submit"] img {
    width: 24px;
    height: 24px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
    0% {
        top: -50px;
        opacity: 0;
    }

    100% {
        top: 20px;
        opacity: 1;
    }
}


.loading-indicator {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /*background-color: rgba(255, 255, 255, 0.212);*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.loading-indicator::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border: 4px solid #ff0000;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}